@import "/styles/root.css";

h1 {
    margin-bottom: 1vh;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;

    label[for="password"] {
        font-size: calc(var(--body-font-size) * 1.2)
    }

    input {
        width: 22rem;
    }
}
