@import "/styles/root.css";

h1 { margin-bottom: 1vh; }

form {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2vh;

    label[for="password"] { font-size: calc(var(--body-font-size) * 1.2); }

    input { width: min(22rem, 100%); }
}
