@import "/styles/root.css";

main section {
    margin: 2.5vh 0;

    .times {
        text-align: left;

        span {
            display: block;
            margin-top: 0.5em;
            text-indent: 1em hanging;

            :first-child {
                margin-top: 0;
            }
        }
    }
}

h2 {
    font-weight: normal;
}

.tbd {
    font-style: italic;
}
